{% extends 'AxolothImmoBundle::base.html.twig' %}
{%block body%}							
	<h2 class="art-PostHeaderIcon-wrapper"><img src="{{ asset('bundles/axolothimmo/images/PostHeaderIcon.png') }}" alt="PostHeaderIcon" width="32" height="32" />
		<span class="art-PostHeader">Le métier d'agent immobilier</span>
	</h2>


	<div class="art-PostMetadataHeader">
		<div class="art-PostHeaderIcons art-metadata-icons">
			<span class="art-metadata-icons">
				<a href="/agent-immobilier?format=pdf" title="PDF" onclick="window.open(this.href,'win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no'); return false;" rel="nofollow"><img src="/images/M_images/pdf_button.png" alt="PDF"  /></a>&nbsp;<a href="/agent-immobilier?tmpl=component&amp;print=1&amp;page=" title="Imprimer" onclick="window.open(this.href,'win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no'); return false;" rel="nofollow"><img src="/images/M_images/printButton.png" alt="Imprimer"  /></a>&nbsp;<a href="/component/mailto/?tmpl=component&amp;link=aHR0cDovL3d3dy5pbW1vLWxpbW91c2luLmNvbS9hZ2VudC1pbW1vYmlsaWVy" title="email" onclick="window.open(this.href,'win2','width=400,height=350,menubar=yes,resizable=yes'); return false;"><img src="/images/M_images/emailButton.png" alt="email"  /></a>
			</span>
		</div>
	</div>
	
	<div class="art-PostContent">
		<div class="art-article"><p>Le métier d'agent immobilier a évolué dans une période relativement courte.</p>
			<p>C'est pourquoi nous proposons davantage de services et de suivi jusqu'à la vente ou l'achat de votre bien.</p>
			<p> </p>
			<h3>Côté vendeur</h3>
			<p>Notre travail commence par <strong>une estimation</strong> <strong>écrite</strong> qui est soumise au propriétaire. Ce qui permet aussi de faire le point si votre bien est déjà sur le marché ou éventuellement de vous conseiller afin qu'il soit vendu dans les meilleures conditions.</p>
			<p>Après rédaction <strong>d'un mandat de vente</strong> (simple ou exclusif), nous prenons en charge la vente de votre bien. Ensuite notre agence met en place des publicités, propose votre bien, fait visiter, négocie les conditions de vente, afin de vous mettre en relation avec des acquéreurs. Et nous sommes à vos côtés jusqu'à la signature de l'acte authentique.</p>
			<p> </p>
			<p><em>Nous rappelons que le mandat exclusif, souvent décrié, permet de mettre en valeur votre bien.</em></p>
			<p> </p>
			<h3>Côté ACHETEUR</h3>
			<p>Osez le <strong><a href="/component/fabrik/?view=form&amp;fabrik=15&amp;random=0" title="Mandat de recherche">mandat de recherche</a> !!!</strong></p>
			<p>Nous prenons le temps d'écouter votre projet et si celui-ci nous semble réalisable nous rédigeons un mandat de recherche. Ce mandat est exclusif pour une période de trois mois.</p>
			<p> </p>
			<p>Dans plus de la majorité des cas, cette démarche aboutit à l'acquisition du bien convoité, car :</p>
			<p>- la recherche est personnalisée</p>
			<p>- un seul interlocuteur</p>
			<p>- pas de perte de temps sur place</p>
			<p>- éviter qu'un bien vous soit proposé plusieurs fois</p>
			<p>- nous aurons visité les biens avant votre déplacement même ceux de nos partenaires.</p>
			<p> </p>
			<h3>Côté BAILLEUR</h3>
			<p>Nous vous conseillons pour la mise en location de votre bien et rédigeons un mandat de location. Nous présentons votre logement et vous soumettons les dossiers des candidats locataires. Après votre accord, nous établissons le contrat de location ainsi que les états des lieux d'entrée. Vous percevez directement la caution ainsi que les loyers. Lorsque votre locataire aura donné son congé, nous interviendrons pour réaliser l'état des lieux de sortie.</p>

		</div>

		<span class="article_separator">&nbsp;</span>
	</div>
							
	<div class="cleared"></div>


			
	<div class="art-Post">
		<div class="art-Post-body">
			<div class="art-Post-inner">

				<div class="art-PostContent"></div>

				<div class="cleared"></div>
			</div>
		</div>
	</div>
	
{%endblock body%}